body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

p {
    line-height: 2;
}

h1 {
    font-size: 5.625rem;
    /*90px = 90px/16 = 5.625 -> 562.5% 16px = 1em */
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a {
    color: #11999E;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
}

a:hover {
    color: #EAF6F6;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #d2e0e0;
    width: 4%;
    border-width: 5px;
    margin: 100px auto;
}

.top-container {
    background-color: #B9F3FC;
    position: relative;
    padding-top: 100px;
    height: 100vh;
    min-height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

.mountain {
    position: absolute;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100vw;
    max-width: 600px;
}

.intro {
    width: 30%;
    margin: auto;

}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.coding-img {
    width: 23%;
    float: left;
    margin-right: 30px;
}

.photography-img {
    width: 23%;
    float: right;
    margin-left: 30px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
    transform: scaleX(-1);
}

.btn {
    margin-bottom: 100px;
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.contact-me {
    width: 40%;
    margin: 40px auto 60px;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ab);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ab);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ab);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ab);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ab);
    text-decoration: none;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}